html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
header{
  position: fixed;
  width: 100%;
  z-index: 10;
}
#navbar_bi{
  display: grid;
  grid-template-columns: 20% 80%;
}
#link{
  justify-content: flex-end;
}

#loginform{
  margin-top: 120px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
}

#registerform{
  margin-top: 120px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
}

#passwordError{
  color: red;
}

#container{
  padding-top: 3em;
}

#welcom{
  background-color: white;
}

#homeContainer{
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

#userBox{
  height: 93%;
  overflow: scroll;
  position: fixed;
  width: 15%;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  /*border: 1px solid #232943;*/
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 5, 1);
}
::-webkit-scrollbar-thumb {
  background: yellow; 
}

.img_cont{
  height: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
}

.online_icon{
  background-color: lawngreen;
  height: 20px;
  width: 20px;
  float: right;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
}

#statut{
  margin: auto;
}

#name{
  margin: auto;
}

#searchBar{
  position: fixed;
  bottom: 0;
  width: 15%;
}

#him:hover{
  cursor: pointer;
}

#boxmessage{
  bottom: -6px;
  position: fixed;
  left: 16%;
}

.modal-dialog{
  max-width: 500px;
  margin: auto;
}


.modal-content {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  height: 330px;
}

.modal-header{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0; 
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}

.modal-footer {
  position: absolute;
  bottom: 0;
  padding: .75rem;
}


@media (min-width: 576px){
  .modal-dialog {
    max-width: 500px;
    margin: 0;
  }
}