html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
header{
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #00F5D4;
  height: 52px;
}
#navbar_bi{
  display: grid;
  grid-template-columns: 20% 80%;
}
#link{
  justify-content: flex-end;
}

#loginform{
  margin-top: 120px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
}

#registerform{
  margin-top: 120px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
}

#passwordError{
  color: red;
}

#container{
  padding-top: 3em;
}

#welcom{
  background-color: white;
}

#homeContainer{
  display: grid;
  grid-template-columns: 15% 62% 20%;
  grid-column-gap: 1%;
}

#userBox{
  height: 89%;
  overflow-y: scroll;
  position: absolute;
  width: 15%;
  bottom: 0;
  border-top: solid 1px lightgrey;
}
::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-track {
  /*border: 1px solid #232943;*/
  box-shadow: inset 0 0 2.5px 2px grey;
}
::-webkit-scrollbar-thumb {
  background: black; 
}

.img_cont{
  height: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
}

.online_icon{
  background-color: lawngreen;
  height: 20px;
  width: 20px;
  float: right;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
}

#statut{
  margin: auto;
}

#name{
  margin: auto;
}

#searchBar{
  position: absolute;
  width: 15%;
}

#him:hover{
  cursor: pointer;
}

#boxmessage{
  bottom: 3px;
  position: fixed;
  left: 15%;
  width: 220px;
}

.modal-content {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  height: 330px;
}

#modal-header{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0; 
  padding-left: 10px;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
  background-color: #00BBF9;
  color: white;
  z-index: 10;
}

/*span{
  color: white;
}
*/
#modal-footer{
  width: 100%;
  position: absolute;
  margin: 0;
  bottom: 0;
  padding: 0rem;
  border-top: none;
}

#modal-body{
  width: 100%;
  height: 266px;
  overflow-y: scroll;
  position: absolute;
  margin-top: 10px;
}

#messagetype{
  display: grid;
  grid-template-columns: 90% 12%;
}

#form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 5px;
  font-size: smaller;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#emojibox{
  width: 10%;
}

#envoyer{
  width: 10%;
  height: 100%;
}

#trasmit{
  background: lightskyblue;
  max-width: 140px;
  font-size: smaller;
  margin-left: 55px;
  border-radius: 5px;
  margin-top: 6px;
  margin-bottom: 6px;
  min-height: 30px;
  text-align: left;
  padding-left: 2px;
  padding-right: 2px;
}

#recut{
  background: green;
  max-width: 140px;
  font-size: smaller;
  border-radius: 5px;
  margin-top: 6px;
  margin-bottom: 6px;
  min-height: 30px;
  text-align: left;
  padding-left: 2px;
  padding-right: 2px;
}

.fas fa-location-arrow{
  display: flex;
  justify-content: center;
}

#send_btn{
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: dimgrey;
  text-align: center;
  white-space: nowrap;
  background-color: aliceblue;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  justify-content: center;
}

#btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: aliceblue;
  border-color: aliceblue;
}

#pubox{
  width: 100%;
  min-height: 100%;
  /*background-color: bisque;*/
  border-radius: 5px;
  margin: auto;
  word-wrap: break-word;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}

#jumbotron{
  margin-bottom: 0;
  vertical-align: middle;
  background-color: white;
}

#journee{
  display: grid;
  grid-template-columns: 50% 50%;
}

@media (min-width: 576px){
  #modal-dialog {
    max-width: 500px;
    margin: 0;
  }
}