html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
header{
  position: fixed;
  width: 100%;
  z-index: 10;
}
#navbar_bi{
  display: grid;
  grid-template-columns: 20% 80%;
}
#link{
  justify-content: flex-end;
}

#loginform{
  margin-top: 120px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
}

#registerform{
  margin-top: 120px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
}

#passwordError{
  color: red;
}

#container{
  padding-top: 3em;
}

#welcom{
  background-color: white;
}

#homeContainer{
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

#userBox{
  height: 89%;
  overflow-y: scroll;
  position: absolute;
  width: 15%;
  bottom: 0;
  border-top: solid 1px lightgrey;
}
::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-track {
  /*border: 1px solid #232943;*/
  box-shadow: inset 0 0 2.5px 2px grey;
}
::-webkit-scrollbar-thumb {
  background: black; 
}

.img_cont{
  height: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
}

.online_icon{
  background-color: lawngreen;
  height: 20px;
  width: 20px;
  float: right;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
}

#statut{
  margin: auto;
}

#name{
  margin: auto;
}

#searchBar{
  position: absolute;
  width: 15%;
}

#him:hover{
  cursor: pointer;
}

#boxmessage{
  bottom: 3px;
  position: fixed;
  left: 16%;
  width: 220px;
}

.modal-content {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  height: 330px;
}

#modal-header{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0; 
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}

#modal-footer{
  position: absolute;
  bottom: 0;
  padding: 0rem;
  border-top: none;
}

#modal-body{
 
}

#messagetype{
  display: grid;
  grid-template-columns: 90% 10%;
}

#emojibox{
  width: 10%;
}

#envoyer{
  bottom: 0;
  position: absolute
}

.fas:hover{
  cursor: pointer;
}

#trasmit{
  background: lightskyblue;
  max-width: 150px;
  font-size: small;
  margin-left: 55px;
  border-radius: 5px;
}

#recut{
  background: green;
  max-width: 150px;
  font-size: small;
  border-radius: 5px;
}

@media (min-width: 576px){
  #modal-dialog {
    max-width: 500px;
    margin: 0;
  }
}