body{
	margin: 0;
	padding: 0;
	background: #ffff;
}

/*media pour large ecran*/
@media (min-width: 768px)
{
	#root{
		margin: 5px auto;
	}

	#facade{
		margin: 150px auto;
		display: grid;
		grid-template-columns: 40% 40%;
		grid-column-gap: 20%;
	}

	#logo{
		width: 80%;
		height: 70%;
	}

	#loginform{
	  width: 70%;
	  margin: 30px auto;
	  padding: 10% 5%;
	  border: solid 1px;
	}

	#registerform{
		width: 70%;
	  margin: 30px auto;
	  padding: 10% 5%;
	  border: solid 1px;
	}

	#logoBox{
		margin: 30px auto;
	}

	h5{
		text-align: center;
	}

	.card{
	  height: 500px;
	  border-radius: 15px;
	  background-color: #2F4F4F;
	}

	.card-header{
	  border-radius: 15px 15px 0 0;
	  border-bottom: 0;
	}
	
	#chat{
		display: grid;
		grid-template-columns: 30% 40%;
		margin: 10% auto;
	}

}

/*media pour petit ecran*/
@media (max-width: 600px)
{


}