body{
	margin: 0;
	padding: 0;
}

/*media pour large ecran*/
@media (min-width: 768px)
{
	#root{
		width: 90%;
		margin: 5px auto;
	}

	#facade{
		display: grid;
		grid-template-columns: 40% 40%;
		grid-column-gap: 20%;
	}

	#logo{
		width: 70%;
		height: 70%;
	}
}

/*media pour petit ecran*/
@media (max-width: 600px)
{


}